.about {
    background: rgb(252,206,89);
    background: linear-gradient(180deg, rgba(252,206,89,1) 0%, rgba(252,183,107,1) 68%);
    padding: 50px 300px;
}

h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 15px;
}