.diagonal:before {
    transform: skewY(-5deg);

}

.about {
    background: rgb(50,39,39);
    background: linear-gradient(0deg, rgba(50,39,39,1) 0%, rgba(79,59,59,1) 100%);
    padding: 50px 385px;
	/* transform: skewY(5deg); */

}

h2 {
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 999;
    margin-bottom: 15px;
}

.about-p {
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 1.2;

}

.italics {
    font-style: italic;
}

.about-button {
    text-align: center;
    font-weight: 700;

}

hr {
    border-top: 3px solid white;

}