.navibar{
    background: rgb(252,198,101);
    background: linear-gradient(180deg, rgba(252,198,101,1) 0%, rgba(255,87,128,1) 68%);
    border-bottom: 5px solid white;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;

}

ul {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    /* padding-bottom: 30px; */
}

li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;

}
